<div class="container-fluid">
  <app-page-title title="FAQs" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="checkout-tabs">
    <div class="row">
      <div class="col-lg-2">
        <ul ngbNav #nav="ngbNav" [activeId]="1" class="flex-column nav-pills">
          <li [ngbNavItem]="1">
            <a ngbNavLink>
              <i class="bx bx-question-mark d-block check-nav-icon mt-4 mb-2"></i>
              <p class="fw-bold mb-4">General Questions</p>
            </a>
            <ng-template ngbNavContent>
              <div class="card">
                <div class="card-body">
                  <div class="fade active show" id="v-pills-gen-ques">
                    <h4 class="card-title mb-5">General Questions</h4>
                    <div class="faq-box media mb-4">
                      <div class="faq-icon me-3">
                        <i class="bx bx-help-circle font-size-20 text-success"></i>
                      </div>
                      <div class="media-body">
                        <h5 class="font-size-15">What is Lorem Ipsum?</h5>
                        <p class="text-muted">New common language will be more simple and regular than the existing
                          European
                          languages. It will be as simple as occidental.</p>
                      </div>
                    </div>
                    <div class="faq-box media mb-4">
                      <div class="faq-icon me-3">
                        <i class="bx bx-help-circle font-size-20 text-success"></i>
                      </div>
                      <div class="media-body">
                        <h5 class="font-size-15">Where does it come from?</h5>
                        <p class="text-muted">Everyone realizes why a new common language would be desirable one could
                          refuse
                          to pay expensive translators.</p>
                      </div>
                    </div>
                    <div class="faq-box media mb-4">
                      <div class="faq-icon me-3">
                        <i class="bx bx-help-circle font-size-20 text-success"></i>
                      </div>
                      <div class="media-body">
                        <h5 class="font-size-15">Where can I get some?</h5>
                        <p class="text-muted">If several languages coalesce, the grammar of the resulting language is
                          more
                          simple and regular than that of the individual languages.</p>
                      </div>
                    </div>
                    <div class="faq-box media mb-4">
                      <div class="faq-icon me-3">
                        <i class="bx bx-help-circle font-size-20 text-success"></i>
                      </div>
                      <div class="media-body">
                        <h5 class="font-size-15">Why do we use it?</h5>
                        <p class="text-muted">Their separate existence is a myth. For science, music, sport, etc, Europe
                          uses
                          the same vocabulary.</p>
                      </div>
                    </div>
                    <div class="faq-box media">
                      <div class="faq-icon me-3">
                        <i class="bx bx-help-circle font-size-20 text-success"></i>
                      </div>
                      <div class="media-body">
                        <h5 class="font-size-15">Where can I get some?</h5>
                        <p class="text-muted">To an English person, it will seem like simplified English, as a skeptical
                          Cambridge friend of mine told me what Occidental</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>
              <i class="bx bx-check-shield d-block check-nav-icon mt-4 mb-2"></i>
              <p class="fw-bold mb-4">Privacy Policy</p>
            </a>
            <ng-template ngbNavContent>
              <div class="card">
                <div class="card-body">
                  <div class="tab-pane">
                    <h4 class="card-title mb-5">Privacy Policy</h4>

                    <div class="faq-box media mb-4">
                      <div class="faq-icon me-3">
                        <i class="bx bx-help-circle font-size-20 text-success"></i>
                      </div>
                      <div class="media-body">
                        <h5 class="font-size-15">Where does it come from?</h5>
                        <p class="text-muted">Everyone realizes why a new common language would be desirable one could
                          refuse
                          to pay expensive translators.</p>
                      </div>
                    </div>
                    <div class="faq-box media mb-4">
                      <div class="faq-icon me-3">
                        <i class="bx bx-help-circle font-size-20 text-success"></i>
                      </div>
                      <div class="media-body">
                        <h5 class="font-size-15">Where can I get some?</h5>
                        <p class="text-muted">To an English person, it will seem like simplified English, as a skeptical
                          Cambridge friend of mine told me what Occidental</p>
                      </div>
                    </div>
                    <div class="faq-box media mb-4">
                      <div class="faq-icon me-3">
                        <i class="bx bx-help-circle font-size-20 text-success"></i>
                      </div>
                      <div class="media-body">
                        <h5 class="font-size-15">What is Lorem Ipsum?</h5>
                        <p class="text-muted">New common language will be more simple and regular than the existing
                          European
                          languages. It will be as simple as occidental.</p>
                      </div>
                    </div>
                    <div class="faq-box media mb-4">
                      <div class="faq-icon me-3">
                        <i class="bx bx-help-circle font-size-20 text-success"></i>
                      </div>
                      <div class="media-body">
                        <h5 class="font-size-15">Why do we use it?</h5>
                        <p class="text-muted">Their separate existence is a myth. For science, music, sport, etc, Europe
                          uses
                          the same vocabulary.</p>
                      </div>
                    </div>
                    <div class="faq-box media">
                      <div class="faq-icon me-3">
                        <i class="bx bx-help-circle font-size-20 text-success"></i>
                      </div>
                      <div class="media-body">
                        <h5 class="font-size-15">Where can I get some?</h5>
                        <p class="text-muted">If several languages coalesce, the grammar of the resulting language is
                          more
                          simple and regular than that of the individual languages.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink>
              <i class="bx bx-support d-block check-nav-icon mt-4 mb-2"></i>
              <p class="fw-bold mb-4">Support</p>
            </a>
            <ng-template ngbNavContent>
              <div class="card">
                <div class="card-body">
                  <div class="tab-pane">
                    <h4 class="card-title mb-5">Support</h4>

                    <div class="faq-box media mb-4">
                      <div class="faq-icon me-3">
                        <i class="bx bx-help-circle font-size-20 text-success"></i>
                      </div>
                      <div class="media-body">
                        <h5 class="font-size-15">Where can I get some?</h5>
                        <p class="text-muted">To an English person, it will seem like simplified English, as a skeptical
                          Cambridge friend of mine told me what Occidental</p>
                      </div>
                    </div>
                    <div class="faq-box media mb-4">
                      <div class="faq-icon me-3">
                        <i class="bx bx-help-circle font-size-20 text-success"></i>
                      </div>
                      <div class="media-body">
                        <h5 class="font-size-15">Where does it come from?</h5>
                        <p class="text-muted">Everyone realizes why a new common language would be desirable one could
                          refuse
                          to pay expensive translators.</p>
                      </div>
                    </div>

                    <div class="faq-box media mb-4">
                      <div class="faq-icon me-3">
                        <i class="bx bx-help-circle font-size-20 text-success"></i>
                      </div>
                      <div class="media-body">
                        <h5 class="font-size-15">Why do we use it?</h5>
                        <p class="text-muted">Their separate existence is a myth. For science, music, sport, etc, Europe
                          uses
                          the same vocabulary.</p>
                      </div>
                    </div>
                    <div class="faq-box media mb-4">
                      <div class="faq-icon me-3">
                        <i class="bx bx-help-circle font-size-20 text-success"></i>
                      </div>
                      <div class="media-body">
                        <h5 class="font-size-15">Where can I get some?</h5>
                        <p class="text-muted">If several languages coalesce, the grammar of the resulting language is
                          more
                          simple and regular than that of the individual languages.</p>
                      </div>
                    </div>

                    <div class="faq-box media">
                      <div class="faq-icon me-3">
                        <i class="bx bx-help-circle font-size-20 text-success"></i>
                      </div>
                      <div class="media-body">
                        <h5 class="font-size-15">What is Lorem Ipsum?</h5>
                        <p class="text-muted">New common language will be more simple and regular than the existing
                          European
                          languages. It will be as simple as occidental.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
      </div>
      <div class="col-lg-10">
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div>
</div>
